{% load static %}
<header class="antialiased">
  <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 fixed top-0 z-30 w-full border-b">
    <div class="flex flex-wrap justify-between items-center">
      <div class="flex justify-start items-center">
        <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
          </svg>
        </button>
      </div>
      
      <div class="flex items-center lg:order-2">
        <!-- User Menu -->
        <button type="button" class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown-user">
          <span class="sr-only">Open user menu</span>
          <svg class="w-8 h-8 text-gray-500 p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
          </svg>
        </button>
        
        <!-- Dropdown menu -->
        <div class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow" id="dropdown-user">
          <div class="py-3 px-4">
            <span class="block text-sm font-semibold text-gray-900">{{ user.first_name }} {{ user.last_name }}</span>
            <span class="block text-sm text-gray-500 truncate">{{ user.email }}</span>
          </div>
          <ul class="py-1 text-gray-500" aria-labelledby="dropdown-user">
            <li>
              <a href="{% url 'users:profile' %}" class="block py-2 px-4 text-sm hover:bg-gray-100 text-gray-700">Mein Profil</a>
            </li>
          </ul>
          <ul class="py-1 text-gray-500" aria-labelledby="dropdown-user">
            <li>
              <a href="{% url 'users:logout' %}" class="flex items-center py-2 px-4 text-sm hover:bg-gray-100 text-red-600">
                <svg class="w-5 h-5 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
                </svg>
                Abmelden
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>